{
  "type":"ManageIQ::Providers::Amazon::CloudManager",
  "name":"Amazon {{ student_ec2_region }}",
  "provider_region": "{{ student_ec2_region }}",
  "credentials" : {
    "userid"    : "{{ student_ec2_access }}",
    "password"  : "{{ student_ec2_secret }}"
  }
}
