[all:vars]
ansible_user={{ item.username }}
ansible_ssh_pass={{ admin_password }}
{% if ssh_port is defined %}
ansible_port={{ ssh_port }}
{% endif %}

[cfme]
{% for vm in groups.tag_role_cfme if vm in groups['tag_pod_' + item.username] %}
{{ hostvars[vm].hostname }} ansible_host={{ vm }}
{% endfor %}

[tower]
{% for vm in groups.tag_role_tower if vm in groups['tag_pod_' + item.username] %}
{{ hostvars[vm].hostname }} ansible_host={{ vm }}
{% endfor %}

[web]
{% for vm in groups.tag_role_web if vm in groups['tag_pod_' + item.username] %}
{{ hostvars[vm].hostname }} ansible_host={{ vm }}
{% endfor %}

[control]
{% for vm in groups.tag_role_control if vm in groups['tag_pod_' + item.username] %}
{{ hostvars[vm].hostname }} ansible_host={{ vm }}
{% endfor %}