[all:vars]
{% if ssh_port is defined %}
ansible_port={{ ssh_port }}
{% endif %}

{% for user in users %}
[{{ user.username }}]
{% for vm in groups['tag_pod_' + user.username] %}
{{ hostvars[vm].hostname }} ansible_host={{ vm }}
{% endfor %}
{% endfor %}